{% extends "base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'test_info/style.css'%}" />
{% endblock %}

{% block content %}
<center>
<div class="container">
  <h1>Edit Test</h1>

  {% if test.image %}
  <div>
    <img src="{{ test_info.image.url }}" alt="Test Image" />
  </div>
 {% endif %}
     
  <form action="{% url 'test_info:update' test.id %}" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     
     <div class="form-group">
      <label for="body">본문</label>
      <textarea class="form-control" id="body" cols="40" rows="10" name="body">{{ test.body }}</textarea>
    </div>

    <div class="form-group">
      <label for="image">이미지</label>
      <input type="file" class="form-control-file" id="image" name="image" />
    </div>  

    <button type="submit" class="btn btn-primary">수정하기</button>
  </form>

  <a href="{% url 'test_info:index' %}">목록</a>    
</div>
{% endblock %}