{% extends "base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'mainpage/style.css'%}" />
{% endblock %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <br>
        
        <br>
        <h2 class="display-3">올테스트와 합격하자!</h2>
        <p>여러분의 합격을 올테스트가 함께합니다.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'accounts:sign_up'  %}" role="button">사이트안내 &raquo;</a></p>
      
        


      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% for test in tests %}
        <div class="col-md-4">
          <h2>제{{ test.test_round }}회 {{ test.title}}</h2>
          <p>- 접수: {{ test.register_day_start }} ~ {{ test.register_day_end}}</p>
          <p>- 시험일: {{ test.test_day }}</p>
          <p><a class="btn btn-secondary" href="/tests/{{ test.id }}" role="button">View details &raquo;</a></p>
        </div>
        {% endfor %}
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  

  

{% endblock %}